.App img {
  margin: 30px auto 5px;
  max-width: 75px;
  display: block;
}

.App h1, footer {
  color: #B84BF4;
  margin: 0 0 20px;
  text-align: center;
}

.App a {
  color: #212529;
}

.App a:hover {
  color: #9E00F5;
}

.App .contact-links:hover {
  color: #DFB8F5;
}