.App img {
  margin: 30px auto 5px;
  max-width: 75px;
  display: block;
}

.App h1, footer {
  color: rgb(102, 3, 102);
  margin: 0 0 20px;
  text-align: center;
}

.App a {
  color: rgb(102, 3, 102);
}

.App a:hover {
  color: blue;
}