.Dictionary form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Dictionary .search-btn {
    color: rgb(102, 3, 102);
    border: 1px solid rgb(102, 3, 102);
    background: white;
    margin-left: 15px;
    transition: all 250ms ease-in-out;
}

.Dictionary .search-btn:hover {
    color: white;
    border: 1px solid rgb(102, 3, 102); 
    background: rgb(102, 3, 102);
}