.Dictionary form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Dictionary .search-btn {
    color: #9E00F5;
    border: 1px solid #9E00F5;
    background: white;
    margin-left: 15px;
    transition: all 250ms ease-in-out;
}

.Dictionary .search-btn:hover {
    color: white;
    border: 1px solid #9E00F5;
    background: #DFB8F5;
}

.Dictionary .search-input {
    max-width: 695px;
}