.Photos {
    background: white;
    border: 1px solid #B84BF4;
    border-radius: 4px;
    max-width: 900px;
    margin: 15px auto;
    padding: 0 25px 20px;
}

.Photos img {
    border-radius: 4px;
    box-shadow: 5px 5px #DFB8F5;
    min-width: 210px;
}