.Results h2 {
    color: white;
    text-shadow: 1px 1px #B84BF4;
    font-size: 35px;
}

.Results section {
    background: #DFB8F5;
    border: 1px solid #B84BF4;
    border-radius: 4px;
}

.Results .header {
    border: 1px solid #B84BF4;
    background: #DFB8F5;
    margin: 15px auto;
    border-radius: 4px;
    padding: 10px 30px;
}

.Results .meanings {
    background: white;
    border: 1px solid #B84BF4;
    border-radius: 4px;
    margin: 15px;
    padding: 10px 20px;
}
